<form>
    <div class="input-group">
        <span class="input-group-addon">Name</span>
        <input type="text" class="form-control" placeholder="Name" ng-model="predictUser.user">
    </div>

    <div class="input-group">
        <span class="input-group-addon">Geschlecht</span>
        <span class="form-control" style="padding:0px">
            <div class="btn-group btn-group-justified" style="height:100%">
                <label class="btn btn-sm btn-primary" ng-model="predictUser.gender" uib-btn-radio="0">
                    <i class="fa fa-fw fa-male"></i>
                    männlich
                </label>
                <label class="btn btn-sm btn-primary" ng-model="predictUser.gender" uib-btn-radio="1">
                    <i class="fa fa-fw fa-female"></i>
                    weiblich
                </label>
            </div>
        </span>
    </div>

    <div class="input-group">
        <span class="input-group-addon">Geburtsjahr</span>
        <span class="input-group-addon">{{ predictUser.yearBorn }}</span>
        <input type="range" min="1980" max="2000" ng-model="predictUser.yearBorn" class="form-control" >
    </div>

    <div class="input-group">
        <span class="input-group-addon">Hausbesitz</span>
        <span class="form-control" style="padding:0px">
            <div class="btn-group btn-group-justified" style="height:100%">
                <label class="btn btn-primary" ng-model="predictUser.ownsHouse" uib-btn-radio="true">
                    <i class="fa fa-fw fa-check"></i>
                </label>
                <label class="btn btn-primary" ng-model="predictUser.ownsHouse" uib-btn-radio="false">
                    <i class="fa fa-fw fa-times"></i>
                </label>
            </div>
        </span>
    </div>

    <div class="input-group">
        <span class="input-group-addon">Kinder</span>
        <span class="input-group-addon">{{ predictUser.numChildren }}</span>
        <input type="range" min="0" max="2" ng-model="predictUser.numChildren" class="form-control">
    </div>

    <div class="input-group">
        <span class="input-group-addon">Katzen</span>
        <span class="input-group-addon">{{ predictUser.numCats }}</span>
        <input type="range" min="0" max="1" ng-model="predictUser.numCats" class="form-control">
    </div>

    <div class="input-group">
        <span class="input-group-addon">Hunde</span>
        <span class="input-group-addon">{{ predictUser.numDogs }}</span>
        <input type="range" min="0" max="1" ng-model="predictUser.numDogs" class="form-control">
    </div>

    <div class="input-group">
        <span class="input-group-addon">Pferde</span>
        <span class="input-group-addon">{{ predictUser.numHorses }}</span>
        <input type="range" min="0" max="1" ng-model="predictUser.numHorses" class="form-control">
    </div>

    <input type="submit" style="display:block; margin:10px 0px; width: 100%" class="btn btn-primary" ng-click="predict()" value="predict">
</form>

<div class="well" ng-show="predictResult">
    <div class="row">
        <div class="input-group">
            <span class="input-group-addon">
                <uib-progressbar class="progress active" style="margin-bottom:0px" value="predictResult.haft" type="{{ predictResult.raw.haft | toType }}">
                    Haft
                </uib-progressbar>
            </span>
            <input type="text" value="{{ predictResult.raw.haft | number : 3}}" class="form-control" readonly>
        </div>
    </div>
    
    <div class="row">
        <div class="input-group">
                <span class="input-group-addon">
                        <uib-progressbar class="progress active" style="margin-bottom:0px" value="predictResult.kfz" type="{{ predictResult.raw.kfz | toType }}">
                            KFZ
                        </uib-progressbar>
                    </span>
            <input type="text" value="{{ predictResult.raw.kfz | number : 3}}" class="form-control" readonly>
        </div>
    </div>

    <div class="row">
        <div class="input-group">
            <span class="input-group-addon">
                    <uib-progressbar class="progress active" style="margin-bottom:0px" value="predictResult.hausrat" type="{{ predictResult.raw.hausrat | toType }}">
                        Hausrat
                    </uib-progressbar>
                </span>
            <input type="text" value="{{ predictResult.raw.hausrat | number : 3}}" class="form-control" readonly>
        </div>
    </div>
    
    <div class="row">
        <div class="input-group">
            <span class="input-group-addon">
                <uib-progressbar class="progress active" style="margin-bottom:0px" value="predictResult.foerder" type="{{ predictResult.raw.foerder | toType }}">
                    Foerder
                </uib-progressbar>
            </span>
            <input type="text" value="{{ predictResult.raw.foerder | number : 3}}" class="form-control" readonly>
        </div>
    </div>
    
    <div class="row">
        <div class="input-group">
            <span class="input-group-addon">
                <uib-progressbar class="progress active" style="margin-bottom:0px" value="predictResult.hund" type="{{ predictResult.raw.hund | toType }}">
                    Hund
                </uib-progressbar>
            </span>
            <input type="text" value="{{ predictResult.raw.hund | number : 3}}" class="form-control" readonly>
        </div>
    </div>
    
    <div class="row">
        <div class="input-group">
            <span class="input-group-addon">
                <uib-progressbar class="progress active" style="margin-bottom:0px" value="predictResult.pferd" type="{{ predictResult.raw.pferd | toType }}">
                    Pferd
                </uib-progressbar>
            </span>
            <input type="text" value="{{ predictResult.raw.pferd | number : 3}}" class="form-control" readonly>
        </div>
    </div>
    
    <div class="row">
        <div class="input-group">
            <span class="input-group-addon">
                <uib-progressbar class="progress active" style="margin-bottom:0px" value="predictResult.zahn" type="{{ predictResult.raw.zahn | toType }}">
                    Zahn
                </uib-progressbar>
            </span>
            <input type="text" value="{{ predictResult.raw.zahn | number : 3}}" class="form-control" readonly>
        </div>
    </div>

    <div class="row">
        <div class="input-group">
            <span class="input-group-addon">
                <uib-progressbar class="progress active" style="margin-bottom:0px" value="predictResult.futter" type="{{ predictResult.raw.futter | toType }}">
                    Futter
                </uib-progressbar>
            </span>
            <input type="text" value="{{ predictResult.raw.futter | number : 3}}" class="form-control" readonly>
        </div>
    </div>

</div>