<div class="input-group">
    <span class="input-group-addon">Name</span>
    <input type="text" class="form-control" placeholder="Name" ng-model="predictUser.user">
</div>

<div class="input-group">
    <span class="input-group-addon">Geschlecht</span>
    <select ng-model="predictUser.gender" class="form-control" >
        <option value="0">männlich</option>
        <option value="1">weiblich</option>
    </select>
</div>

<div class="input-group">
    <span class="input-group-addon">Geburtsjahr</span>
    <input type="number" min="1930" max="2017" ng-model="predictUser.yearBorn" class="form-control" >
</div>

<div class="input-group">
    <span class="input-group-addon">Hausbesitz</span>
    <input type="checkbox" ng-model="predictUser.ownsHouse" class="form-control">
</div>

<div class="input-group">
    <span class="input-group-addon">Kinder</span>
    <input type="number" min="0" max="5" ng-model="predictUser.numChildren" class="form-control">
</div>

<div class="input-group">
    <span class="input-group-addon">Katzen</span>
    <input type="number" min="0" max="5" ng-model="predictUser.numCats" class="form-control">
</div>

<div class="input-group">
    <span class="input-group-addon">Hunde</span>
    <input type="number" min="0" max="3" ng-model="predictUser.numDogs" class="form-control">
</div>

<div class="input-group">
    <span class="input-group-addon">Pferde</span>
    <input type="number" min="0" max="3" ng-model="predictUser.numHorses" class="form-control">
</div>

<button class="btn btn-primary" ng-click="predict()">predict</button>

<div class="well" ng-show="predictResult">
    <div class="input-group">
        <span class="input-group-addon">Haft</span>
        <input type="text" value="{{ predictResult.haft | number : 3}}" class="form-control" readonly>
    </div>
    <div class="input-group">
        <span class="input-group-addon">KFZ</span>
        <input type="text" value="{{ predictResult.kfz | number : 3}}" class="form-control" readonly>
    </div>
    <div class="input-group">
        <span class="input-group-addon">Hausrat</span>
        <input type="text" value="{{ predictResult.hausrat | number : 3}}" class="form-control" readonly>
    </div>
    <div class="input-group">
        <span class="input-group-addon">Foerder</span>
        <input type="text" value="{{ predictResult.foerder | number : 3}}" class="form-control" readonly>
    </div>
    <div class="input-group">
        <span class="input-group-addon">Hund</span>
        <input type="text" value="{{ predictResult.hund | number : 3}}" class="form-control" readonly>
    </div>
    <div class="input-group">
        <span class="input-group-addon">Pferd</span>
        <input type="text" value="{{ predictResult.pferd | number : 3}}" class="form-control" readonly>
    </div>
    <div class="input-group">
        <span class="input-group-addon">Zahn</span>
        <input type="text" value="{{ predictResult.zahn | number : 3}}" class="form-control" readonly>
    </div>
</div>